
/* == LAYOUT ===================================================== */

*, ::after, ::before {
    box-sizing: border-box;
}

/* GRID SYSTEM */

    .container {
        width: $container-xs;
        margin-right: auto;
        margin-left: auto;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    /* Auto layout columns */

    .col{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    [class^="col"]{
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: ($grid-gutter / 2);
        padding-left: ($grid-gutter / 2);
    }

    .col-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    /* Vertical alignement */

    .align-items-start {
        -ms-flex-align: start!important;
        align-items: flex-start!important;
    }

    .align-items-center {
        -ms-flex-align: center!important;
        align-items: center!important;
    }

    .align-items-end {
        -ms-flex-align: end!important;
        align-items: flex-end!important;
    }

    /* Horizontal alignement */

    .justify-content-start {
        -ms-flex-pack: start!important;
        justify-content: flex-start!important;
    }

    .justify-content-center {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }

    .justify-content-end {
        -ms-flex-pack: end!important;
        justify-content: flex-end!important;
    }

    .justify-content-around {
        -ms-flex-pack: distribute!important;
        justify-content: space-around!important;
    }

    .justify-content-between {
        -ms-flex-pack: justify!important;
        justify-content: space-between!important;
    }

    /* Margin auto utilities */

    .ml-auto{margin-left: auto!important;}
    .mr-auto{margin-right: auto!important;}

    /* No gutters */

    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
        }
    }

    /* Loop for columns system */

    @for $i from 1 through $grid-columns {
        $size: (100% / $grid-columns);
        .col-#{$i} {
            width: ($size * $i);
        }
        .offset-#{$i} {
            margin-left: ($size * $i);
        }
    }
        

/* MEDIA SCREEN MOBILE FIRST */

    /* XS */
    @media only screen and (min-width: $xs) {

        /* Loop for xs columns system */
        @for $i from 1 through $grid-columns {
            $size: (100% / $grid-columns);
            .col-xs-#{$i} {
                width: ($size * $i);
            }
            .offset-xs-#{$i} {
                margin-left: ($size * $i);
            }
        }

        /* margin auto for xs */
        .ml-xs-auto{margin-left: auto!important;}
        .mr-xs-auto{margin-right: auto!important;}

    }

    /* SM */
    @media only screen and (min-width: $sm) {

        .container{
            max-width: $container-sm;
        }

        /* Loop for sm columns system */
        @for $i from 1 through $grid-columns {
            $size: (100% / $grid-columns);
            .col-sm-#{$i} {
                width: ($size * $i);
            }
            .offset-sm-#{$i} {
                margin-left: ($size * $i);
            }
        }

        /* margin auto for sm */
        .ml-sm-auto{margin-left: auto!important;}
        .mr-sm-auto{margin-right: auto!important;}

    }

    /* MD */
    @media only screen and (min-width: $md) {

        .container{
            max-width: $container-md;
        }    

        /* Loop for md columns system */
        @for $i from 1 through $grid-columns {
            $size: (100% / $grid-columns);
            .col-md-#{$i} {
                width: ($size * $i);
            }
            .offset-md-#{$i} {
                margin-left: ($size * $i);
            }
        }
        
        /* margin auto for md */
        .ml-md-auto{margin-left: auto!important;}
        .mr-md-auto{margin-right: auto!important;}

    }

    /* LG */
    @media only screen and (min-width: $lg) {

        .container{
            max-width: $container-lg;
        }   

        /* Loop for lg columns system */
        @for $i from 1 through $grid-columns {
            $size: (100% / $grid-columns);
            .col-lg-#{$i} {
                width: ($size * $i);
            }
            .offset-lg-#{$i} {
                margin-left: ($size * $i);
            }
        }

        /* margin auto for lg */
        .ml-lg-auto{margin-left: auto!important;}
        .mr-lg-auto{margin-right: auto!important;}

    }

    @media only screen and (min-width: $xl) {

        .container{
            max-width: $container-xl;
        }   

        /* Loop for xl columns system */
        @for $i from 1 through $grid-columns {
            $size: (100% / $grid-columns);
            .col-xl-#{$i} {
                width: ($size * $i);
            }
            .offset-xl-#{$i} {
                margin-left: ($size * $i);
            }
        }

        /* margin auto for xl */
        .ml-xl-auto{margin-left: auto!important;}
        .mr-xl-auto{margin-right: auto!important;}

    }