  ///////////////////
 // MAIN SETTINGS //
/////////////////// 
  
//Paths
$img-path: 												                                    "images" !default;

//Logo
//$logo:                                                              "/main-logo.png";
//$logo-path:                                                         $img-path + $logo;

//fonts
$font-family-primary:                                                 'Open Sans', Helvetica, Arial, sans-serif !default;

//font weights
$light:                                                               '300' !default;
$regular:                                                             '400' !default;
$semi-bold:                                                           '600' !default;
$bold:                                                                '700' !default;

//border
$border-size:                                                         1px !default;
$border-style:                                                        solid !default;
$border-radius-size:                                                  4px !default;

  //////////////////
 // Color Scheme //
//////////////////

//Palette
$color-1:                                                             #DCE491;
$color-2:                                                             #101202;
$color-3:                                                             #C4D613;
$color-4:                                                             #565708;
$color-5:                                                             #909E0E;

//Main Colors
$brightest-color:                                                      $color-1 !default;
$darkest-color:                                                        $color-2 !default;
$brand-color:                                                          $color-3 !default;
$bg-main-color:                                                        $brightest-color !default;
$font-color:                                                           $darkest-color !default;
$font-highlight:                                                       $color-4 !default;


  ///////////
 // Sizes //
///////////

$main-wrapper-max-width:                                               1280px !default;
$sidebar-size:                                                         20% !default;
$wrapper-size:                                                         80% !default;

         