 // VARIABLES //

// Paths
$img-path: "images/";
$img-path-layout: "images/layout";

// Logo
$logo: "/main-logo.svg";
$logo-path: $img-path-layout + $logo;

// Fonts
$primary-font: 'Custom Font'; 
$font-family-primary: $primary-font, Helvetica, Arial, sans-serif;
$icon-font: 'Material Icons';

// Font weights
$light:'300';
$regular:'400';
$semi-bold:'600';
$bold:'700';

// Color palette  
$color-1:#ffffff;
$color-2:#818181;
$color-3:#606060;
$color-4:#3b3b3b;
$color-5:#000000;
$font-color:#232323;
// You must change the palette and the names for your specific layout. 
// Visit https://color.adobe.com/explore)

// Grid columns system
$grid-columns: 16 !default;
$grid-gutter: 30px !default;


// Breakpoints
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Container max-width
$container-xs: 100%;
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
