 // VARIABLES //

// Paths
$img-path: "images/";
$img-path-layout: "images/layout";

// Logo
$logo: "/main-logo.svg";
$logo-path: $img-path-layout + $logo;

// Fonts
$font-custom: 'Custom Font'; 
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-primary: $font-custom, $font-family-base !default;
$font-icon: 'Material Icons' !default;

// Font weights
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

// Font Size
$font-size-base: 1rem !default; 
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Color palette  
$color-1:#ffffff;
$color-2:#818181;
$color-3:#606060;
$color-4:#3b3b3b;
$color-5:#000000;
$font-color:#232323;
// You must change the palette and the names for your specific layout. 
// Visit https://color.adobe.com/explore)

// Grid columns system
$grid-columns: 12 !default;
$grid-gutter: 1.875rem !default;


// Breakpoints
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Container max-width
$container-xs: 100%;
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
