/* MAIN CSS */
/* LAYOUT ============================== */
.container {
  height: 320px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

[class^="col-"] {
  background-color: blue;
}

.col {
  width: auto;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  color: #101202;
}

#main-wrapper {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

#main-wrapper.sidebar-collapse > #sidebar {
  margin-left: -20%;
}

#main-wrapper.sidebar-collapse > #wrapper {
  margin-left: 0px;
}

#sidebar {
  width: 20%;
  height: 100%;
  float: right;
  position: fixed;
  margin-right: 0px;
  background-color: #565708;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-btn {
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
  background-color: #565708;
}

#wrapper {
  width: auto;
  height: 100%;
  margin-left: 20%;
  background-color: #DCE491;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*THEME*/
header {
  width: 100%;
  background-color: #909E0E;
}

header .logo {
  text-align: right;
}

header .claim {
  text-align: right;
}

main {
  width: 100%;
  height: 800px;
}

.container {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

/* MEDIA ============================== */
/* Print styles */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=main.css.map */