/* MAIN CSS */

@import 'variables';
@import 'layout';

html{
    box-sizing: border-box;
    font-family: $font-family-primary;
}

body{
    color:$font-color;
}



/*MOTHERSHIP THEME*/




// Media
@import '_media.scss';